<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script>
    axios.post('/verify-forgot-pass-otp', {
        otp: '16763',
        email: 'www.ninzxky@gmail.com'
    })
    .then(function (response) {
        console.log(response.data)
    })
    .catch(function (error) {
        console.log(error);
    });
</script>
<body>
    <h1>Send POST Req with Pending OTP</h1>
</body>
</html>